---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Full Stack</h2>
		<p>Aussi à l'aise dans le back-end que dans le front-end, j'ai l'habitude de travailler avec de technologies tels que Javascript, Python, SQL, HTML, CSS, etc... </p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="group" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Esprit d'équipe</h2>
		<p>Ayant travaillé dans plusieurs projets où l'esprit d'équipe était de rigueur et aimant les sports d'équipe comme le football, le volley, etc... Je suis respectueux de l'ordre, du respect et des relations humaines , j'aime travailler en équipe et suis capable d'assumer des responsabilités et de travailler également en autogestion si besoin est. </p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="shield" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Passionné de cybersécurité</h2>
		<p>Passionné de cybersécurité depuis le lycée, je suis très intéressé par les métiers de pentester, de RSSI, de chef de pojet sécurité. j'entreprends actuellement un master en expert cybersécurité à la suite de mon bachelor en ingienierie numérique.</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
